.main-container {
  min-height: 100vh;
  background-size: cover;
  background-color: #eef4f7;
  padding: 20px;
  font-family: 'Roboto';
}

.main-heading {
  font-size: 30px;
  color: #334155;
  text-align: center;
}

.separator {
  width: 180px;
  text-align: center;
  border: 2px solid #52bbf0;
}

.places-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.position {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
